@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.3s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(107, 44, 255, 0.15);
  }
}
